.containerWhite{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: white;
    align-items: start;
    margin-top: 70px;
    gap: 68px;
}



.containerWhite a{
    width: fit-content;
    height: fit-content;
    color: black;
    border: 0px solid #EC5D27;
    transition: 1s ease 0s;
    display: flex;
    align-items: center;
    gap: 24px;
}

.containerWhite a:hover .BackgroundDownload {
    background-color: #efc0ae;
}

.part1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

}


.part1 .links{
    display: flex;
    flex-direction: row;
    gap: 28px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.displayRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 375px;
}

.BackgroundDownload{
    width: 91px;
    height: 91px;
    background-color: #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 1s ease 0s;
    min-width: 91px;
}

.downloadlogo{
    width: 50px;
    height: 50px;
}

.qrcodelogo{
    width: 91px;
    height: 91px;
}


.afnor{
    max-width: 219px;
}

@media screen and (max-width: 1240px) {
    .displayRow{
        max-width: 315px;
    }
}



@media screen and (max-width: 960px) {
    .containerWhite{
        flex-direction: column;
        gap: 48px;
    }


}  