.confiance{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    overflow: hidden;
    margin-bottom: 284px;
}

.ImageContenaire{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}


@media screen and (max-width: 560px) {
    .confiance{
        height: 10%;
        margin-bottom: 78px;

    }
}
