.descriptionCommerceDetails{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 150px;
    overflow: hidden;

}

.contenaireArrowText{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
    padding-left: 24px;
}

.li{
    margin-left: 48px;
}


details img{
    transition: 500ms;
}

[open] img{
    transform: rotate(90deg);
}


details{
    width: 100%;
    border-top: 1px solid black;
   
    transition: all 500ms ease;
}



details:hover summary{
    padding-left: 28px;
}


summary{
    padding: 22px;
    display: flex;
    gap: 24px;
    align-items: center;
    transition: all 500ms ease;
}



.contenantDetails{
    border-bottom: 1px solid black;
}

.descriptionCommerceDetails details .flecheDetails{
    transform: rotate(0deg);
}




/* .element{
     padding-top: 12px; 

     padding-bottom: 12px; 
} */



@media screen and (max-width: 600px) {
    .descriptionCommerceDetails{
        margin-bottom: 78px;
    }
}

summary::-webkit-details-marker {
    display: none;
 }
 
 details[open] summary::-webkit-details-marker {
    display: none;
 }