.description{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.description h2{
    text-align: center;
    transform: translateY(64px);
}


.scrollzone{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 300vh;
    padding-top: 400px;
}

.stickyElement{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 495px;
    height: 575px;
    object-fit: cover;
    border-radius: 10px;
}

.contentElement{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 53%;
    padding-left: 58px;
    width: 100%;
}


@media screen and (max-width: 1270px) {
    .description h2{
        transform: translateY(146px);
    }

}



@media screen and (max-width: 960px) {
    .stickyElement{
        width: 38%;
        height: 20%;
    }

}


@media screen and (max-height: 670px) {
    .stickyElement{
        width: 40%;
        height: 25%;
    

    }

}
@media screen and (max-width: 590px) {
    .contentElement{
        padding-left: 12px;
    }


    .scrollzone{
        padding-top: 57%;
    }
    .description h2 {
        transform: translateY(-24px);
    }
    
}

@media screen and (max-width: 500px) {
    .scrollzone{
        flex-direction: column;
    }

    .contentElement{
        justify-content: space-between;
        gap: 12px;
        padding-top: 48px;
    }

    .stickyElement {
        width: 100%;
        top: 70px;
        transform: translateY(0);
        height: 180px;
    }


    .scrollzone {
        padding-top: 0%;
    }

}