.descriptionCommerce{
    width: 100%;
    height: 100vh;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}
.destop{
    max-width: 556px;
    width: 80%;
}

.descriptionCommerce h2{

    text-align: center;
}

.stickyElements{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.centerColumn{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.centerColumn h3{
    text-align: center;
}
.horaire{
    display: flex;

    gap: 8px;
}

.alltime{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(63%);
}

.stickyElementcenterColumn{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.columnInformation{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    
}

.commerceillustration{
    display: block;
    object-fit: cover;
    
}

.one{
    width: 212px;
    height: 419px;
    border-radius: 10px;
}

.three{
    width: 496px;
    height:237px ;
    border-radius: 10px;
}

.contenaireHoraire{
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 1030px) {
    .stickyElementcenterColumn{
        transform: translateY(-80%);
       }

}

@media screen and (max-width: 1150px) {
    .descriptionCommerce .commerceillustration{
        width: 100%;

    }
    .descriptionCommerce .three{
        width: 100%;

    }
    .everywhere{
        align-items: flex-end;
        text-align: end;

    }
}

@media screen and (max-width: 800px) {
    .descriptionCommerce{
        width: 100%;
        align-items: center;
        gap: 58px;
   }

   

   .centerColumn{
        align-items: center;
   }

   .stickyElementcenterColumn{
    align-items: center;
    transform: translateY(-80%);
   }

   
}

@media screen and (max-width: 690px) {
   .descriptionCommerce{
        width: 100%;
        height: fit-content;
        padding-left: 8vw;
        padding-right: 8vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 40%;
   }

   .columnInformation{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
   }
   .stickyElementcenterColumn {
        transform: translateY(0%); 
        margin-bottom: 58px;
    }
    .stickyElementcenterColumn {
        position: relative;
        transform: translateY(0%); 
        top: 0%;
    }
    .alltime{
        transform: translateY(0);
        flex-direction: column;
        gap: 24px;
    }

   

    .centerColumn{
        width: 100%;
    }

    .descriptionCommerce .commerceillustration {

        height: 188px;
    }

}