.descriptionCommerceDetails{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 284px;
    overflow: hidden;

}

details img{
    transition: 500ms;
}

[open] img{
    transform: rotate(90deg);
}


details{
    width: 100%;
    border-top: 1px solid black;
   
    transition: all 500ms ease;
}

details:hover{
    background-color: #10417933;
}


summary{
    padding: 22px;
    display: flex;
    gap: 24px;
    align-items: center;
    transition: all 500ms ease;
}



.contenantDetails{
    border-bottom: 1px solid black;
}




.margintop{
    margin-top: 12px;
}



@media screen and (max-width: 600px) {
    .descriptionCommerceDetails{
        margin-bottom: 78px;
    }
}

summary::-webkit-details-marker {
    display: none;
 }
 
 details[open] summary::-webkit-details-marker {
    display: none;
 }