.descriptionCommerce{
    width: 100%;
    height: 150vh;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40%;

}

.stickyElements{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.centerColumn{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.horaire{
    display: flex;

    gap: 8px;
}

.alltime{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(63%);
}

.stickyElementcenterColumn{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.columnInformation{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.commerceillustration{
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1150px) {
    .descriptionCommerce img{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .descriptionCommerce{
        width: 90%;
        align-items: center;
        gap: 24px;
   }

   .commerceillustration{
    display: none;
    object-fit: cover;

   }

   .centerColumn{
        align-items: center;
   }

   .stickyElementcenterColumn{
    align-items: center;
   }

   
}

@media screen and (max-width: 690px) {
    .descriptionCommerce{
        flex-direction: column;
    }

    .columnInformation{
        margin-bottom: 100px;
        align-items: center;
    }

    .stickyElementcenterColumn{
        position: relative;
        transform: translateY(-282px);
    }
    .alltime{
        transform: translateY(10px);
    }
}


@media screen and (max-width: 550px) {
    .descriptionCommerce{
        margin-bottom: 100%;
    }

}