.evenement{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
}


.contenaireFicheEvenement{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    max-width: 330px;
}


.contenaireContenaireEvenement{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}