footer{
    overflow: hidden;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.backgroundImg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
}


.contenaireFooter{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

}


footer    h2{
    max-width: 431px;
}