footer{
    overflow: hidden;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    overflow: hidden;
    padding-top: 58px;
}

.backgroundImg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}



.contenaireFooter{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    padding: 145px 0px;

}


footer    h2{
    max-width: 431px;
}

.contenaireBackgroundFooter{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.mention{
    margin: auto;
}


.linkunderfooter{
    width: 100%;
    display: flex;
}

@media screen and (max-height: 1000px) {
    .contenaireFooter{
        flex-direction: column;
        gap: 24px;
        height: fit-content;
        padding: 20px 0px;


    }
}