.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    overflow: hidden;
}
.titlep{
    display: flex;
    flex-direction: column;
    padding: 7%;
    justify-content: center;
    gap: 68px;
    width: 50%;
    height: 100%;
}

.heroIllustration{
    width: 50%;
    height: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .hero{
        flex-direction: column;
        margin-bottom: 150px;
    }

    .heroIllustration{
        border-radius: 10px;
        width: 60%;
        height: 38%;
    }

    .titlep{
        gap: 12px;
        margin-top: 84px;
        width: 100%;
        height: fit-content;
    }

}

@media screen and (max-height: 800px) {
    .titlep{
        gap: 8px;
    }

}