.ia{
    height: fit-content;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 124px;

}

.ia .title{
    margin-bottom: 52px;
}

.contenaireIa{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 24px;
}

.contenaireIa .illustrationIa{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contenaireIatext{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 72px;
}